.container.contact__container {
    max-width: 900px;
    display: grid;
    grid-template-columns: 25% 75%;
    gap: 2rem;
}

.contact__options {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.contact__option {
    background: var(--color-white);
    padding: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
    box-shadow: var(--shadowbox);
}

.contact__option:hover {
    border-color: var(--color-primary);
    transition: var(--transition);
}

.contact__icon {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: var(--color-primary);
    margin-top: 0.5rem;
}

.contact__option a {
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
    display: inline-block;
    font-size: 0.8rem;
}

/* FORM */

form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

input, textarea {
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    resize: none;
    color: var(--color-dark);
    font: inherit;
    box-shadow: var(--shadowbox);
}

button {
    font: inherit;
}

input:focus {
    border: 2px solid var(--color-primary);
}

textarea:focus {
    border: 2px solid var(--color-primary);
}

/* ===== Media Queries - Medium Devices ===== */

@media screen and (max-width: 1024px) {
    .container.contact__container {
        grid-template-columns: 1fr;
        gap: 2rem;
    }
}

/* ===== Media Queries - Small Devices ===== */

@media screen and (max-width: 600px) {
    .container.contact__container {
        width: var(--container-width-sm);
    }
}